<!DOCTYPE html>
<html>
<head>
  <title>Reminders</title>
  <link rel="stylesheet" href="/static/home_style.css" type="text/css">
</head>
<body>
  <div class="container">
    <h1>Reminders</h1>

    <div class="button-container">
      <a class="button" href="/addReminder">Add Reminder</a>
      <a class="button" href="/allReminders">List all reminders</a>
    </div>

    <div class="reminder-card">
      <div class="reminder-title">Reminder</div>
      <div class="reminder-content">You use to inform you to do important things in your life!</div>
    </div>

    <div class="reminder-card">
      <div class="reminder-title">Message of the day!</div>
      <div class="reminder-content">Believe you can and you're half way there!</div>
  </div>

</body>
</html>
